<article class="cart-item">
  <div class="cart-item-info">
    <h2><%= item.product.title %></h2>
    <p>
      $<span class="cart-item-price"><%= item.totalPrice.toFixed(2) %></span>
      <span class="cart-product-price"
        >($<%= item.product.price.toFixed(2) %>)</span
      >
    </p>
  </div>
  <!-- Note the use of the "data-[identifier]" HTML attributes below
  to give each cart items's quantity update HTML form distinct product id and CSRF token data values.
  These distinct data values are then used to create an AJAX request (a.k.a. frontend JS request) in the
  "/public/scripts/cart-item-management.js" file to update a specific product's quantity on the server side. -->
  <form
    class="cart-item-management"
    data-productid="<%= item.product.id %>"
    data-csrf="<%= locals.csrfToken %>"
  >
    <input type="number" value="<%= item.quantity %>" required />
    <button class="btn btn-alt">Update</button>
  </form>
</article>
